{% extends 'base.twig' %}

{% block content %}

    <!-- Blog Single Item Banner -->
    <section class="g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v1--after" data-bg-img-src="{{ post.thumbnail.src|resize(1200, 300) }}">
        <div class="container text-center g-pos-rel g-z-index-1 g-pb-50">
            <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-500">
                <div class="col-lg-7 mt-auto">
                    <div class="mb-5">
                        <h1 class="g-color-white g-font-weight-600 g-mb-30">{{ post.title }}</h1>
                        <p class="lead g-color-white-opacity-0_6">It's important to stay detail oriented with every project we tackle. Staying focused allows us to turn every project we complete into something we love.</p>
                    </div>
                    <span class="g-color-white-opacity-0_7 g-font-weight-300 g-font-size-12">{{ post.author.name }}</span>
                    <span class="g-color-white-opacity-0_7 g-font-weight-700 mx-3">&#183;</span>
                    <span class="g-color-white-opacity-0_7 g-font-weight-300 g-font-size-12">{{ post.date }}</span>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Single Item Banner -->

    <!-- Blog Single Item Info -->
    <section class="container g-pt-100 g-pb-60">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                {{ post.content }}
            </div>
        </div>
    </section>
    <!-- End Blog Single Item Info -->

    <!-- Blog Single Item Author -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Tags -->
                <div class="g-mb-40">
                    <ul class="u-list-inline mb-5">
                        {% for tag in post.tags %}
                            <li class="list-inline-item g-mb-10">
                                <a class="u-tags-v1 g-brd-around g-brd-gray-dark-v5 g-brd-primary--hover g-color-black g-color-white--hover g-bg-primary--hover g-font-weight-600 g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Tags -->

                <!-- Author -->
                <div class="g-brd-top g-brd-gray-light-v3 g-pt-60 g-pb-100">
                    <div class="row justify-content-between">
                        <div class="media">
                            <img class="d-flex g-width-100 g-height-100 rounded-circle g-mr-30" src="{{ post.author.avatar }}" alt="{{ post.author.name }}">
                            <div class="media-body">
                                <h4 class="h5 g-color-black g-font-weight-600">{{ post.author.name }}</h4>
                                <p class="g-color-gray-dark-v5 mb-4">I am an ambitious workaholic, but apart from that, pretty simple person. Whether it's branding, print, UI + UX I've got you covered. I strive to figure out the right solutions for your look to stand out amongst the rest.</p>
                                <a class="btn u-btn-outline-black g-brd-gray-light-v1 g-font-weight-600 g-font-size-12 text-uppercase g-py-12 g-px-25" href="{{ post.author.path }}">All author posts</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Author -->
            </div>
        </div>
    </section>
    <!-- End Blog Single Item Author -->


    <!-- Blog Single Item Comments -->
    <section class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Blog Single Item Comments -->
                <div class="g-brd-bottom g-brd-gray-light-v4 g-pb-30 g-mb-50">
                    <div class="g-brd-y g-brd-gray-light-v4 g-py-30 mb-5">
                        <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-0">{{ post.get_comment_count }} Comments</h3>
                    </div>
                    {% if post.comments %}
                        {% set first_cmt = true %}
                        {% for cmt in post.comments %}
                            {% include 'comment.twig' with {comment:cmt, 'reply_lvl': 0, 'first_cmt': first_cmt} %}
                            {% set first_cmt = false %}
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- End Blog Single Item Comments -->

                {% if post.comment_status == 'closed' %}
                    <p>Comments for this post are closed</p>
                {% else %}
                    {% include 'comment-form.twig' %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Blog Single Item Comments -->
{% endblock %}
