{% extends 'tease.twig' %}

{% block content %}

    {% if post.thumbnail.src %}
        <img class="img-fluid w-100 g-rounded-5 g-mb-25" src="{{ post.thumbnail.src }}" alt="Image Description" />
    {% endif %}

    <div class="px-4">
        <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mt-minus-45 g-mb-25">
            <li class="list-inline-item mr-5">
                <img class="g-width-40 g-height-40 g-brd-around g-brd-2 g-brd-white rounded-circle mb-2" src="{{ post.author.avatar }}" alt="{{ post.author.name }}">
                <h4 class="h6 g-font-weight-600 g-font-size-13 mb-0">
                    <a class="g-color-gray-dark-v4" href="{{ post.author.link }}">{{ post.author.name }}</a>
                </h4>
            </li>
            <li class="list-inline-item">
                <span class="g-font-size-12">{{ post.date('F jS, Y') }}</span>
            </li>
            <li class="list-inline-item ml-auto">
                <a class="g-color-gray-dark-v5 g-color-primary--hover g-font-size-default g-transition-0_3 g-text-underline--none--hover" href="#!">
                    <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                </a>
                <span class="g-color-gray-dark-v5">{{ post.get_comment_count }}</span>
            </li>
        </ul>

        <h2 class="h5 g-color-black g-font-weight-600">
            <a class="u-link-v5 g-color-black g-color-primary--hover" href="{{ post.link }}">{{ post.title }}</a>
        </h2>
        <p class="g-color-gray-dark-v4">{{ post.preview.length(25) }}</p>
        <a class="g-font-weight-700 g-font-size-13" href="{{ post.link }}">read more</a>
    </div>
{% endblock %}
