{% if posts.pagination.pages is not empty %}
    <nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
        <ul class="list-inline">
            {% if pagination.pages|first and pagination.pages|first.current != true %}
                <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="{{ pagination.pages|first.link }}" aria-label="First">
                        <span aria-hidden="true"><i class="fa fa-angle-left g-mr-5"></i> First</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
            {% else %}
                <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-rounded-50 g-pa-7-16" aria-label="First">
                        First
                    </a>
                </li>
            {% endif %}

            {% if pagination.prev %}
                <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="{{ pagination.prev.link }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-left g-mr-5"></i> Previous</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-rounded-50 g-pa-7-16" aria-label="Previous">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page.link %}
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14 {{ page.class }}" href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.pages|last and pagination.pages|last.current != true %}
                <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="{{ pagination.pages|last.link }}" aria-label="Last">
                        <span aria-hidden="true">Last <i class="fa fa-angle-right g-ml-5"></i></span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            {% else %}
                <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-rounded-50 g-pa-7-16" aria-label="Last">
                        Last
                    </a>
                </li>
            {% endif %}
            {% if pagination.next %}
                <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="{{ pagination.next.link }}" aria-label="Next">
                        <span aria-hidden="true">Next <i class="fa fa-angle-right g-ml-5"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-rounded-50 g-pa-7-16" aria-label="Next">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
